html, body {
    margin: 0;
    height: 100%;
}

body {
    background: rgb(0, 0, 0);
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app img,
#app video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
